////////////////////////////////////////
// Header section

.header {
	position: relative;
	// position: absolute;
	// right: 0;
	width: 100%;
	min-height: 100vh;
	padding: 100px;
	display: flex;
	justify-content: center;
	align-items: center;
	background: #111;
	transition: 0.5s;
	z-index: 2;
	@include resp(lg) {
		min-height: 90vh;
	}
	&__btn-booking {
		display: flex;
		justify-content: space-between;
		align-items: center;
		min-width: 10%;
		@include resp(lg) {
			max-width: 18%;
			justify-content: center;
		}
		@include resp(md) {
			max-width: 35%;
			justify-content: center;
		}

		@include resp(xsm) {
			max-width: 50%;
		}
	}
}
.screenVideo {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 0.6;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: $color-primary;
	mix-blend-mode: overlay;
}

.center {
	z-index: 10;
	color: $color-grey-light-1;
}

.heading-text {
	text-transform: uppercase;
	backface-visibility: hidden;
	text-align: center;
	margin-bottom: 60px;
	@include resp(lg) {
		margin-bottom: 30%;
	}
	&--main {
		display: block;
		font-size: 60px;
		font-weight: 400;
		letter-spacing: 4.5vw;
		animation-name: moveInLeft;
		animation-duration: 1s;
		animation-timing-function: ease-out;
		@include resp(lg) {
			font-size: 7vw;
		}
		@include resp(md) {
			font-size: 6vw;
			// letter-spacing: 27px;
		}
		@include resp(sm) {
			font-size: 40px;
			// letter-spacing: 23px;
		}
		@include resp(xsm) {
			font-size: 11vw;
		}
	}

	&--sub {
		display: block;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 1.4vw;
		animation: moveInRight 1s ease-out;
		@include resp(lg) {
			font-size: 18px;
		}
		@include resp(md) {
			font-size: 17px;
		}
		@include resp(sm) {
			font-size: 3.5vw;
		}
		@include resp(xsm) {
			font-size: 4.6vw;
		}
	}
}

.header-secondary {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 40px;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 100%;
	@include resp(lg) {
		flex-direction: column-reverse;
		align-items: center;
		bottom: 10%;
	}
}

.header-social {
	display: flex;
	@include resp(lg) {
		margin-top: 45px;
	}
	& li {
		margin: 0 15px;

		& :hover {
			overflow: visible;
			transform: translateY(-3px);
			box-shadow: $shadow-dark;
			transition: all 0.2s;
		}

		& a:hover {
			color: $color-grey-light-1;
		}
	}
}

////////////////////////////////////////
// Services section

.services {
	& .card {
		margin-bottom: 30px;
		@include resp(lg) {
			min-width: 100%;
		}
		@include resp(xsm) {
			margin-bottom: 20px;
		}
	}

	& .content {
		padding: 10px;
		text-align: center;
		font-size: 20px;
		font-weight: 700;
		letter-spacing: 0.7px;
		color: $color-grey-light-1;
		background-color: $color-grey-dark-1;
		@include resp(lg) {
			padding: 7px;
			font-size: 17px;
		}
		@include resp(md) {
			font-size: 15px;
			padding: 3.3px;
		}
		@include resp(xsm) {
			font-size: 4.5vw;
		}
	}
}

////////////////////////////////////////
// About us section

.about-us {
	background-image: linear-gradient(
			to right bottom,
			rgba($color-primary, 0.8),
			rgba($color-primary-dark, 0.8)
		),
		url(../../public/assets/images/backgound-about.jpg);
	height: 400px;
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: fixed;
	background-position: center;
	// direction: rtl;
	margin-bottom: 100px;
	padding: 90px 0;
	@include resp(lg) {
		min-height: 300px;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		padding: 0;
	}
	& .header-text {
		margin: 50px 0;
		@include resp(lg) {
			margin: 20px;
		}
		@include resp(xsm) {
			margin: 10px;
		}
	}
}

.paragraphs {
	padding: 0 40px;
	@include resp(lg) {
		font-size: 17px;
		word-wrap: break-word;
	}
	@include resp(md) {
		font-size: 16px;
	}
	@include resp(xsm) {
		font-size: 15px;
	}
	& .paragraph-text {
		color: $color-grey-light-1;
		width: 80%;
		text-align: center;
		margin: auto;
		@include resp(md) {
			width: 100%;
		}
	}
}

////////////////////////////////////////
// Team section

.team {
	background-color: $color-grey-light-4;
}

.team-members {
	justify-content: center;
	align-items: center;
}

.member {
	margin: 0 25px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.member-avata {
	width: 150px !important;
	height: 150px !important;
	margin: 25px 0;
	@include resp(lg) {
		width: 140px !important;
		height: 140px !important;
	}
	@include resp(md) {
		width: 130px !important;
		height: 130px !important;
	}
}

.member-name {
	font-size: 20px;
	font-weight: 700;
	text-transform: capitalize;
}

.member-description {
	color: $color-primary-dark;
}

////////////////////////////////////////
// Sing up section
.singUp,
.appointment {
	width: 100%;
	margin: auto;

	& .row {
		display: flex;
		justify-content: space-between;
	}

	& .select {
		width: 100%;
	}

	& .select select:not([multiple]) {
		width: 100%;
	}
	& .select::after {
		right: inherit !important;
		left: 11.25px !important;
	}
}
