////////////////////////////////////////
// Navbar section

.navbar {
	background-color: $color-primary;
	height: 80px;
	// padding: 1px;

	.navbar-item {
		color: $color-grey-light-1;

		& > a {
			padding: 10px 5px;
			margin: 0 12px;

			&:hover {
				border-bottom: 2px solid $color-grey-light-1;
				background-color: inherit;
				color: inherit;
			}
		}

		& > button {
			margin: 0 10px;
			padding: 20px 40px;
			color: $color-grey-light-1;
			background-color: inherit;
			border-radius: 20px;

			&:hover {
				color: $color-grey-light-1;
				border: 3px solid $color-primary-dark;
			}
		}
	}
}

.lang {
	direction: rtl;
}

////////////////////////////////////////
// Footer section

.footer {
	padding: 0;

	background-image: linear-gradient(
		to right bottom,
		rgba($color-primary, 1),
		rgba($color-primary-dark, 1)
	);
	// &-logo {
	// 	text-align: center;
	// }

	// & .section.is-medium {
	// 	padding: 2px 4.5px 9px;
	// }

	&-contents {
		display: flex;
		justify-content: space-between;
		align-items: center;
		color: $color-grey-light-1;
		@include resp(xsm) {
			flex-direction: column;
			// text-align: center;
		}
	}

	&-navbar {
		width: 10%;
		@include resp(lg) {
			width: 18%;
		}
		& > li {
			@include resp(lg) {
				font-size: 13.5px;
			}
			@include resp(xsm) {
				font-size: 14px;
				margin-bottom: 35px;
			}

			&:not(:last-child) {
				margin-bottom: 5px;
			}

			& a {
				display: flex;
				align-items: center;

				& svg {
					margin-right: 10px;
					transition: all 0.2s;
				}

				&:hover {
					color: $color-grey-light-1;
					margin-left: 15px;
				}
			}
		}
	}

	&-contact > li {
		display: flex;
		align-items: center;

		@include resp(lg) {
			font-size: 13.5px;
		}
		@include resp(xsm) {
			justify-content: center;
		}
		&:not(:last-child) {
			margin-bottom: 15px;
		}

		& span:last-child {
			margin-left: 10px;
			font-size: 20px;
		}
	}

	&-social {
		display: flex;
		@include resp(xsm) {
			margin-top: 30px;
		}
		& > li {
			font-size: 20px;
			margin: 0 10px;
			cursor: pointer;
			@include resp(md) {
				margin: 0 8px;
			}
			@include resp(xsm) {
				margin: 0 10px;
			}

			&:hover {
				color: $color-grey-light-3;
			}
		}
	}
}

.copyright {
	color: $color-black;
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: $color-grey-light-4;
	font-size: 18px;
	font-weight: 5;
	@include resp(lg) {
		font-size: 18px;
	}
	@include resp(md) {
		font-size: 16px;
	}
	@include resp(sm) {
		font-size: 13px;
	}
	@include resp(xsm) {
		font-size: 12.5px;
		text-align: center;
	}
	& svg {
		margin: 5px;
	}

	& span:last-child {
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 10px;
		color: $color-primary-dark;
		cursor: pointer;
		@include resp(sm) {
			margin-left: 5px;
			margin-bottom: 5px;
		}
		&:hover {
			font-weight: 700;
		}
	}
}
